.MyHeader {
	padding: 5px;
	color: purple;
        background-color:#eef;
}

.Notice { background-color: #eef;}
.Links {
  padding: 10px;
}
.Links a {
  font-weight: bold;
  color: black;
}
.Links a:hover {
  color: green;
}

img {
   max-width: 100%;
   height: auto;
}





